/* src/components/TypingIndicator.css */
.typing-indicator {
    /* Style du conteneur si besoin */
}

.typing-indicator span {
    height: 8px;
    width: 8px;
    background-color: #909090;
    /* Couleur des points */
    border-radius: 50%;
    display: inline-block;
    margin: 0 2px;
    /* Espacement entre les points */
    animation: typing-bounce 1.4s infinite ease-in-out both;
}

/* Délais d'animation pour chaque point */
.typing-indicator span:nth-of-type(1) {
    animation-delay: -0.32s;
}

.typing-indicator span:nth-of-type(2) {
    animation-delay: -0.16s;
}

.typing-indicator span:nth-of-type(3) {
    animation-delay: 0s;
}

@keyframes typing-bounce {

    0%,
    80%,
    100% {
        transform: scale(0);
    }

    40% {
        transform: scale(1.0);
    }
}